/* CSS reset */
body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(image/main.jpg);
    font-family: 'Baloo Bhai 2', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.left {
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 30px;
    /* border: 2px solid red; */
    font-size: 14px;

}

.left img {
    filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
}

.left div {
    text-align: center;
    /* line-height: 0px;
        font-size: 20px; */
}

.mid {
    display: block;
    width: 50%;
    margin: 35px auto;
    /* border: 2px solid green; */


}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 40px;
    /* border: 2px solid yellow; */

}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px 35px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    /* border: 2px solid grey; */
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid red;

}

.btn:hover {
    background-color: rgb(185, 61, 61);

}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-table;
    font-weight: 300;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: rgb(188, 55, 55);
}

.container {
    /* border: 2px solid white; */
    margin: 180px 25px;
    padding: 75;
    width: 35%;
    height: 300px;
    border-radius: 28px;
    text-align: center;
}

.form-group input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 250px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius: 10px;


}

.container button {
    width: 250px;
    margin: 8px;
    border-radius: 10px;
    border: 2px solid red;

}



